body {
  background-color: rgb(60, 152, 152);
}

h1 {
  text-align: center;
  text-decoration: underline;
}

button {
  width: 200px;
  height: 50px;
  margin: 10px 20px;
}

#buttonViewMap {
  text-align: center;
  margin: 20px;
}

#nextHour {
  background-color: aqua;
}
#previousHour {
  background-color: aqua;
}
.meteoDescription {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#alertWindDirection {
  margin: 0 auto;

  text-align: center;
  color: red;
}

.alertWindDirectionBox {
  margin: 0 auto;
  padding: 5px;
  width: fit-content;
  border: 1px solid red;
}
.containid {
  background-color: gainsboro;
  width: 150px;
  height: auto;
  border: 1px solid black;
  text-align: center;
  margin: 20px;
}

#canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  min-height: 70vh;
  border: 1px solid black;
}

#canvasContainer {
  min-height: 70vh;
  position: relative;
  width: 90%;
  margin: 0 auto;
}
#map {
  min-height: 70vh;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.maplibregl-control-container {
  display: none;
}
